.input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 0.4em 0.8em;
    border: 1px solid rgb(192, 190, 190);
    border-radius: 4px;
}

.txa{
    height: 200px;
    width: 100px;
    resize: vertical;
}

.dark{
    background-color: #333;
    color: white;
}

.dark::placeholder{
    color: white;
}