/* .btn {
    border: none;
    color: #fff;
    padding: 0.8em 1.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  } */
  /* variant */

  .primary {
    background-color: brown;
    border: 1px solid brown;
    color: white;
    padding: 20px;
    border-radius: 0.5rem;
  

  }
  .secondary {
    background-color: white;
    border: 1px solid brown;
    padding: 20px;
    color: brown;
    border-radius: 0.5rem;
  }
  .danger {
    background-color: tomato;
  }
  
  /* size */
  .large {
    font-size: 22px;
  }
  .small {
    font-size: 12px;
  }