


.btn {
    border: none;
    color: #fff;
    padding: 0.8em 1.6em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  /* VARIANTS */

.primary {
    border: 1px solid none;
    border-radius: 0.2rem;
    padding : 50px;
    background-color:blueviolet;
    color: rgb(251,128,23);
}

.secondary {
    border: 1px solid none;
    border-radius: 0.2rem;
    padding : 50px ;
    background-color: aqua;
    color:brown;
}


.danger {
    border: 1px solid none;
    border-radius: 0.2rem;
    padding : 50px ;
    background-color: red;
    color: blue;
}

/* size */
.large {
    font-size: 22px;
  }
  .small {
    font-size: 12px;
  }